{% extends "auth.html" %}

{% block title %}
Sign up - XChange
{% endblock %}

{% block content %}
<div id="signupForm">
    <h3 class="text-center mb-4 text-light">Join us</h3>
    <form method="POST">
        {% for field in form %}
        <div class="mb-3">
            {{ field.errors }}
            {{ field.label_tag }}
            {{ field }}
        </div>
        {% endfor %}
        {% csrf_token %}
        <div class="form-check">
            <input type="checkbox" id="tos" class="form-check-input" required>
            <label for="tos" class="form-check-label">I agree to the XChange Terms of Service.</label>
        </div>
        <button type="submit" class="btn btn-primary w-100 py-2 mt-4">Sign up</button>
    </form>
</div>
{% endblock %}

{% block footer %}
<script>
    document.querySelectorAll('#signupForm input:not([type=checkbox])').forEach(el => el.classList.add('form-control'));
    document.querySelectorAll('form label').forEach(el => el.classList.add('text-light'))
</script>
{% endblock %}