{% extends 'base.html' %}

{% block title %}XChange - Dashboard{% endblock %}

{% block content %}
<div class="container py-4">
    <div class="row g-4">
        <div class="col-md-4">
            {% include "dashboard/side_panel.html" %}
        </div>
        <div class="col-md-8">
            <div class="card bg-dark text-white shadow h-100">
                <div class="card-body">
                    <div class="d-flex justify-content-between mb-3">
                         <a href="{% url 'cash' %}" class="w-50 me-2 btn btn-light">
                            Cash
                        </a>
                        <a href="{% url 'wallet' %}" class="w-50 btn btn-outline-light">
                            Wallet
                        </a>
                    </div>
            <h6 class="text-muted mt-4">Balance</h6>
            <p class="fs-4">{{ request.user.wallet.balance|floatformat:2 }} €</p>

            <h6 class="text-muted mt-4">Recent transactions</h6>
            {% if transactions %}
                <ul class="list-group list-group-flush">
                    {% for transaction in transactions %}
                        <li class="list-group-item bg-dark text-white px-0">
                            <div class="d-flex justify-content-between">
                                {% if transaction.source == request.user.wallet %}
                                    {# The user is the sender #}
                                    <span>{{ transaction.destination.user.email }}</span>
                                    <span>{{ transaction.datetime|date:"d/m/Y" }}</span>
                                    <span>-{{ transaction.amount }}€</span>
                                {% else %}
                                    {# The user is the receiver #}
                                    <span>{{ transaction.source.user.email }}</span>
                                    <span>{{ transaction.datetime|date:"d/m/Y" }}</span>
                                    <span>+{{ transaction.amount }}€</span>
                                {% endif %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="text-secondary small">There are no recent transactions.</p>
            {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
