{% extends 'base.html' %}

{% block title %}XChange - Dashboard{% endblock %}

{% block content %}
<div class="container py-4">
    <div class="row g-4">
        <div class="col-md-4">
            {% include "dashboard/side_panel.html" %}
        </div>
        <div class="col-md-8">
            <div class="card bg-dark text-white shadow h-100">
                <div class="card-body">
                    <div class="d-flex justify-content-between mb-3">
                        <a class="w-50 me-2 btn btn-outline-light" href="{% url 'cash' %}">
                            Cash
                        </a>
                        <a class="w-50 btn btn-light" href="{% url 'wallet' %}">
                            Wallet
                        </a>
                    </div>
                    <p class="card-text text-secondary">Here you can see the evolution of your assets.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}