<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            XChange
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav class="nav-bar">
            <div class="name-web">Xchange</div>
            <ul class="nav-links">
                <li class="web-urls">
                    <a href="{% url 'home' %}">Home</a>
                </li>
                <li class="reg-log-urls">
                    <a href="{% url 'login' %}">Login</a>
                </li>
                <li class="reg-log-urls">
                    <a href="{% url 'registration' %}">Register</a>
                </li>
            </ul>
        </nav>
    </header>


    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        Thanks for visiting our website.
    </footer>
</body>
</html>