{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            XChange
        {% endblock %}
    </title>

    <link rel="icon" href="{% static 'images/logo/favicon_io/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="auth-page">
    <header>
        <nav class="nav-bar">
            <div class="name-web">XChange</div>
            <ul class="nav-links">
                <li class="web-urls">
                    <a href="{% url 'home' %}">Home</a>
                </li>
                <li class="reg-log-urls">
                    <a href="{% url 'login' %}">Login</a>
                </li>
                <li class="reg-log-urls">
                    <a href="{% url 'registration' %}">Register</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="main-content">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <footer>
        <div class="footer-content">
            Thanks for visiting our website.
        </div>
    </footer>
</body>
</html>
